part3/uploads/xsd/students.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://u24666981/students"
  xmlns="http://u24666981/students"
  elementFormDefault="qualified"
>

  <xsd:element name="students">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="student" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="name" type="xsd:string"/>
              <xsd:element name="program" type="xsd:string"/>
              <xsd:element name="year" type="xsd:integer"/>
            </xsd:sequence>
            <xsd:attribute name="id" type="xsd:string" use="required"/>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>